.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}
