main {
  min-height: 557px;
  padding: 10px 10px 50px 10px;

  overflow: scoll;

  background-color: #CCCCCC;
}

.chat-card {
  height: 70px;
  padding: 10px;
  margin-bottom: 10px;

  display: flex;
  flex-flow: row nowrap;

  background-color: #FFFFFF;
}

.chat-card__image-box {
  flex: 0 0 60px;
  min-width: 60px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  /* background-color: red; */
}

.chat-card__image {
  width: 50px;
  height: 50px;
  border-radius: 50px;

  background-color: #808080;
}

.chat-card__description {
  flex: 1 0 auto;
  /* background-color: purple; */
}

.chat-card__header {
  height: 10px;
  width: 200px;

  background-color: #808080;
}

.chat-card__snippet {
  height: 8px;
  width: 100px;
  margin-top: 5px;

  background-color: lightgray;
}
