.tabdat {
  height: 150px;
  /* padding-top: 8px; */
  border-top: 1px solid #909090;

  position: fixed;
  bottom: 0;
  z-index: 200;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: white;
  transition: transform 0.3s;

  left: 0;
  transform: translateY(100px);
}

.tabdat--active {
  transform: translateY(0);

  background-color: lightblue;
}

.tabdat__list {
  height: 50px;
  margin: 0;
  padding: 0;

  font-size: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tabdat__item {
  width: 93.75px;
}

.tabdat__link {
  height: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
}

.tabdat__link--active {
  background-color: lightblue;
}

